*.d
*.o
/transformer
/rectifier
/buck
/inverterpwm
/buckramp
/forward
/flyback
/.stir.db
/buckgood
/forwardgood
/flybackgood
/libsimul.a
.*.sw?
/pfcboost
/boostgood
/buckboostgood
/inverterpwm3
/pfc3
/pfcsimple3
/rectifier3
/shockleyrectifier
